html {
	background-color: #cceeee;
}
body {
	margin: 0px;
	background-color: #cceeee;
	font-family: Helvetica, sans-serif;
	color: #020940;
	margin-top: 55px;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #011040;
	padding: 12px;
}
button {
	background-color: #cceeee;
	padding: 8px 14px;
	font-weight: bolder;
	border-radius: 4px;
	border-width: 2px;
	border-color: #011040;
}
button:hover {
	transition: .4s;
	background-color: #faf0cc;
}
input {
	background-color: #cceeee;
	font-style: italic;
	border-width: 0px;
	border-bottom-width: 2px;
	border-bottom-color: #011040;
}
p {
	margin: 0px;
	font-size: 10px;
}
a {
	text-decoration: none;
}
h1 {
	margin: 0px;
	margin-left: 20px;
}
h2 {
	margin-left: 38px;
}
h3 {
	font-size: 24px;
}
ul {
	margin-left: 10%;
}
li {
	left: 20%;
	font-weight: bold;
}
hr {
	border: 1px solid #020940;
}
table {
	font-family: Courier, monospace;
	margin-left: 20px;
}
th {
	font-family: Courier, monospace;
	font-weight: bolder;
	text-align: left;
}
td {
	font-family: Courier, monospace;
	text-indent: 18px;
}
