html {
	background-color: #aabbdd;
}
body {
	background-color: #aabbdd;
}
a {

}
h1 {
	font: helvetica;
}
h2 {

}
h3 {

}
p {
	font-family: Courier, monospace;
}
ul {

}
li {

}
hr {
	border: 1px solid #020940;
}
form {

}
button {

}
table {

}
th {
	font-family: Courier, monospace;
	font-weight: bolder;
}
tr {

}
td {
	font-family: Courier, monospace;
}
