.modal{
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.modal__content{
  width: 320px;
  height: 100px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ccc;
  padding: 30px;
}
.modal__close{
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3px 3px;
}
.username{
  height: 16px;
  width: 80px;
}