<!DOCTYPE html>
<html>
	<head>
		<title>Where's Waldo?</title>
		<link rel='stylesheet' type='text/css' href='./styles.css'>
		<script type='text/javascript' src='./scripts.js'></script>
	</head>

	<body>
		<center>
			<p id="seconds"></p>
			<br>
			<img src='./images/waldo9.jpg' alt='An image of a town. Waldo and his friends are hiding somewhere among the people in the picture.' width=800px id='pic'>
		</center>
	
		<div class="modal" style="display: none">
			<div class="modal__content">
				<div class="modal__close">&times;</div>
				<div class="modal__title" align="center">Title!</div>
				<div class="modal__body" align="center">Message!</div>
				<center><textarea class="username"></textarea><br>
  				<button class="submit" id="score_button" align="center">Sumbit</button></center>
			</div>
		</div>

	</body>
</html>
