<!DOCTYPE html>
<html>
<head>
<title>Personal Website</title>
<link href="css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans" rel="stylesheet">
<script src="https://use.fontawesome.com/789661a80b.js"></script>
<script type="text/javascript" href="./scripts.js"></script>
</head>

<body>
	<header>
		<%= erb :headblock %>
	</header>
	<br>
	<h2>Loading Polyfills Only When Needed</h2>
	<p class="publish-date">Sept. 19, 2017</p>
	<hr>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<h3 class="article-sub-head">Writing on Conditional</h3>
	<p>Of course for this code to work, you need to define a browserSupportsAllFeatures() function, and it will be specific to the feature-set you use in your code base.</p>
	<p>The following is what I use on this site:</p>
	<p></p>
	<p>In my case, using promise, fetch, and ES2015 symbols not only makes my development life easier, but it also reduces the total amount of code I need to ship in fully-supporting browsers.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<div class="article-illustration">
		<img class="illustration" src="http://www.worcester.ac.uk/content_images/web-development-university-worcester-course-page-header.jpg">
		<p class="caption">A segment definition to only include sessions for the current session.</p>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<footer>
		<hr>
		<div class="foot-content">
			<h5 class="foot-title">Footnotes</h5>
			<ol>
				<li class="footnote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
				<li class="footnote">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
				<li class="footnote">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			</ol>
			<div class="twitter-share">
				<i class="fa fa-twitter fa-2x"></i>
				<p class="share-link">If you liked this article and think others should read it, please <a href=# style="text-decoration: underline">share it on Twitter</a>.</p>
			</div>
		</div>
</body>

</html>