<div class="block-top">
	<h1>PHILIP WALTON</h1>
	<span class="job-description">Engineer @ Google</span>
</div>

<div class="block-bott">
	<div>
		<!-- <a href=#> --><i class="fa fa-twitter-square fa-2x" href=#></i><!-- </a> -->
		<!-- <a href=#> --><i class="fa fa-github-square fa-2x" href=#></i><!-- </a> -->
		<!-- <a href=#> --><i class="fa fa-rss-square fa-2x" href=#></i><!-- </a> -->
	</div>
	<div class="head-nav-div">
		<a class="head-nav" href=#><str>ARTICLES</str></a>
		<a class="head-nav" href=#><str>ABOUT</str></a>
	</div>
</div>