<div class="block-top" style="margin: 0px">
	<h1>PHILIP WALTON</h1>
	<h5>Engineer @ Google</h5>
</div>

<div class="block-bott" style="margin: 0px">
	<span>
		<i class="fa fa-twitter-square fa-2x"></i>
		<i class="fa fa-github-square fa-2x"></i>
		<i class="fa fa-rss-square fa-2x"></i>
	</span>
	<span style="display: flex" style="align-content: center">
		<h3 style="display: inline"><str>ARTICLES</str></h3>
		<h3 style="display: inline"><str>ABOUT</str></h3>
	</span>
</div>