<!DOCTYPE html>
<html>
<head>
<title>Personal Website</title>
<link href="css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans" rel="stylesheet">
<script src="https://use.fontawesome.com/789661a80b.js"></script>
<script type="text/javascript" href="./scripts.js"></script>
</head>

<body>
	<header>
		<%= erb :headblock %>
	</header>
	<br>
	<div class="page-name">Recent Articles</div>
	<hr>
	<div class="summary">
		<p class="publish-date">Sept. 19, 2017</p>
		<h2 class="article-title"><a href=#>Loading Polyfills Only When Needed</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<hr>
	</div>
	<div class="summary">
		<p class="publish-date">Aug. 24, 2017</p>
		<h2 class="article-title"><a href=#>Untangling Deeply-Nested Promise Chains</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<hr>
	</div>
</body>

</html>