<!DOCTYPE html>
<html>
<head>
<title>Personal Website</title>
<link href="css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans" rel="stylesheet">
<script src="https://use.fontawesome.com/789661a80b.js"></script>
<script type="text/javascript" href="./scripts.js"></script>
</head>

<body>
	<header>
		<%= erb :headblock %>
	</header>
	<br>
	<div class="page-name">Articles</div>
	<hr>
	<h2 class="publish-year">2017</h2>
	<ul>
		<li><a href=#>Google Analytics Setup</a><em>(DATE GOES HERE)</em></li>
	</ul>
	<h2 class="publish-year">2016</h2>
	<ul>
		<li><a href=#>Dark Side of Polyfilling</a><em>(DATE GOES HERE)</em></li>
		<li><a href=#>Loading Polyfills</a><em>(DATE GOES HERE)</em></li>
		<li><a href=#>Untangling Promises</a><em>(DATE GOES HERE)</em></li>
		<li><a href=#>Set Up Automation</a><em>(DATE GOES HERE)</em></li>
	</ul>
</body>

</html>