<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8">
<head>
  <title>Error!</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
	<br>
	<h2 align="center">Oops! Couldn't log you in. Please try again.</h2>
	<br>
	<form action="/login" method="post" autocomplete="false" align="center">
		<p><input type="text" placeholder="username" name="user" align="center"></p>
		<p><input type="password" placeholder="password" name="pass" align="center"></p>
		<p><button type="submit" name="login" align="center">Log In</button></p>
	</form>
	<br>
	<hr>
	<br>
	<h3 align="center">Click to continue without logging in.</h3>
	<form action="/index" align="center">
		<p><button type="submit" name="continue" align="center">Continue</button></p>
	</form>
</body>